body
{background-color: antiquewhite;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header h1
{font-size: 40px;
text-decoration: underline;
text-align: center;}

.boton-Menu
{display: flex;
align-items: center;
}

.container-nav
{display: flex;
justify-content: center;
background-color: beige;
border: solid 2px black;}

nav ul li 
{display: inline-block;
font-size: 25px;
margin:10px;
padding: 10px;}

nav ul li a
{text-decoration: none;
color: black;}

.card-widget
{background-color: bisque;
border: solid 2px black;
display:flex;
justify-content: flex-end;
margin: 5px;
padding: 5px;}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
